html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #f9fafb;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
