.container {
    min-height: 100vh;
    background-color: #f9fafb;
    /* Light gray background */
}

.main {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.headerSection {
    text-align: center;
    margin-bottom: 3rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827;
    letter-spacing: -0.02em;
}

.subtitle {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 1.125rem;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.column {
    width: 100%;
    max-width: 800px;
   
}

.formColumn {
    flex: auto;
}

.listColumn {
    flex: auto;
}